iMediXcare/jsystem/MDDS_demographic/xsd_schema /FinancialYear03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name= "Financial_Year">
<!-- Reference value for its Metadata (G00.03)-->
<xs:complexType>
<xs:sequence>
<xs:element name="nn" type="xs:integer" maxOccurs="2"/>
<xs:element name="mm" type="xs:integer" maxOccurs="2"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="FinancialYearRepresentation">
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:pattern value="[nn][mm]-[mm+1]"/>
</xs:restriction>
</xs:simpleType>

</xs:element>
</xs:schema>
